[Unit]
Description=Xonotic map http server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=xonotic
WorkingDirectory=/home/xonotic/.xonotic/data
ExecStart=/usr/bin/python3 -m http.server

[Install]
WantedBy=multi-user.target
