[Unit]
Description=Xonotic dedicated server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=xonotic
ExecStart=xonotic-dedicated

[Install]
WantedBy=multi-user.target
